{% extends 'base.html' %}
{% block content %}
    <h1>Today's Menu</h1>
    <div class="container text-center" style='width:1000px'>
    <ul style="padding: 80px;">
        {% if menus %}
            {% for menu in menus %}
                <h2 class="font-weight-bold"><a href="{% url 'restaurant:restaurant_detail' menu.restaurant.id %}">{{ menu.restaurant.restaurant_name }}</a></h2>
                <hr>
                <div class="rate">
                    <span style="width: 50%">평균 별점: {{ avg_ratings|default:"0.0" }}</span>
                </div>
                <p class="fs-1" style="padding-bottom: 50px;">{{ menu.menu_name }}</p>
            {% endfor %}
        {% else %}
            <h3>오늘 등록된 메뉴가 없습니다.</h3>
        {% endif %}
    </ul>
    </div>
{% endblock %}



{% comment %} {% extends 'base.html' %}
{% block content %}
    <h1>Today's Menu</h1>
    <div class="container text-center" style='width:1000px'>
    <ul style="padding: 80px;">
        {% if menus %}
            {% for menu in menus %}
                {% if menu.date.date == today %}
                    <h2 class="font-weight-bold"><a href="{% url 'restaurant:restaurant_detail' menu.restaurant.id %}">{{ menu.restaurant.restaurant_name }}</a></h2>
                    <hr>
                    <div class="rate">
                        <span style="width: 50%">평균 별점: {{ menu.restaurant.avg_rating|default:"0.0" }}</span>
                    </div>
                    <p class="fs-1" style="padding-bottom: 50px;">{{ menu.menu_name }}</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3 >오늘은 쉽니다</h3>
        {% endif %}
    </ul>
    </div>
{% endblock %} {% endcomment %}
