{% extends 'base.html' %}
{% block content %}
    <div class="container text-center" style='width:1000px'>
    <h1>Today's Menu</h1>
    <ul style="padding: 80px;">
        {% if menus %}
            {% for menu in menus %}
                <h2 class="font-weight-bold">
                    <a href="{% url 'restaurant:restaurant_detail' menu.restaurant.id %}">
                        {{ menu.restaurant.restaurant_name }}
                    </a>
                </h2>
                <hr>
                <p class="fs-1" style="padding-bottom: 50px;">{{ menu.menu_name }}</p>
            {% endfor %}
        {% else %}
            <h3>오늘 등록된 메뉴가 없습니다.</h3>
        {% endif %}
    </ul>
    </div>
{% endblock %}