<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 상세</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="padding-top: 90px;">
    {% include 'navbar.html' %}
    <h2 class="border-bottom py-2">{{ restaurant.restaurant_name }}</h2>
    <div class="row my-3">
        <div class="col-1"> <!-- 추천영역 -->
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{question.voter.count}}</div>
            <a href="#" data-uri="{% url 'pybo:vote_question' question.id  %}"
               class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
        </div>

    <div class="container">
        <h1>{{ bookmark_url.title }}</h1>
        <ul>
            <li>URL: <a href={{ bookmark_url.url }}>{{ bookmark_url.url }}</a></li>
        </ul>
    </div>
</body>
</html>




{% comment %} def menu_detail(request):
    restaurant_name =  Restaurant.objects.order_by()
    food = Food.objects.get()
    review = Review.objects.order_by('-created_at')
    context = {
        'restaurant_name' : restaurant_name,
        'food' : food,
        'review' : review,        
    }
    return render(request, 'menu_detail.html', context)
     {% endcomment %}